streamlit
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb==0.6.3
sentence-transformers
python-dotenv
google-generativeai
langchain-text-splitters
numpy<2.0